# hd-idle options
#
# Options are:
#  -a <name>               Set device name of disks for subsequent idle-time
#                          parameters (-i). This parameter is optional in the
#                          sense that there's a default entry for all disks
#                          which are not named otherwise by using this
#                          parameter. This can also be a symlink
#                          (e.g. /dev/disk/by-uuid/...)
#  -i <idle_time>          Idle time in seconds.

#HD_IDLE_OPTS="-i 180" = Set all disk in standby after 180 seconds inactivity
#HD_IDLE_OPTS="-i 0 -a /dev/disk/by-uuid/994dffb1-96f0-4440-9ee1-4711 -i 300" = Set no disks in stand by at all with the exception of the disk specified with idle time of 300 seconds
#HD_IDLE_OPTS="-i 0 -a /dev/disk/by-uuid/994dffb1-96f0-4440-9ee1-4711 -i 300 -a /dev/disk/by-uuid/994dffb1-96f0-4440-9ee1-4712 -i 600"
