# hd-idle options:
#  -a <name>               Set device name of disks for subsequent idle-time
#                          parameters (-i). This parameter is optional in the
#                          sense that there's a default entry for all disks
#                          which are not named otherwise by using this
#                          parameter. This can also be a symlink
#                          (e.g. /dev/disk/by-uuid/...)
#  -i <idle_time>          Idle time in seconds.
#
#
# Only for Golang version:
#
#  -c <command_type>       Api call to stop the device. Possible values are "scsi"
#                          (default value) and "ata".
#  -s symlink_policy       Set the policy to resolve symlinks for devices.
#                          If set to "0", symlinks are resolve only on start.
#                          If set to "1", symlinks are also resolved on runtime
#                          until success. By default symlinks are only resolve on start.
#                          If the symlink doesn't resolve to a device, the default
#                          configuration will be applied.
#
# Example 1: HD_IDLE_OPTS="-i 180" = Set all disk in standby after 180 seconds inactivity
#
# Example 2: HD_IDLE_OPTS="-i 0 -a /dev/disk/by-uuid/994dffb1-96f0-4440-9ee1-4711 -i 300" = Set no disks in stand by at all with the exception of the disk specified with idle time of 300 seconds
#
# Example 3: HD_IDLE_OPTS="-i 0 -a /dev/disk/by-uuid/994dffb1-96f0-4440-9ee1-4711 -i 300 -a /dev/disk/by-uuid/994dffb1-96f0-4440-9ee1-4712 -i 600"
#
